@page "/"

<p>In tha mainlayout component, we have commented the same code.
	Here index component code was not working as expected, but MainLayout Component working as expected</p>
<div style=" border:dashed; overflow-x: auto; height: 400px">
        <table role="presentation">
            <colgroup id="sfgridv2mijphsxltcontentcolGroup">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
			</colgroup>
        <tbody>
		<tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 </tbody>
		 </table>
    </div>
