@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>
@*<div style=" border:dashed; overflow-x: auto; height: 400px">
        <table role="presentation">
            <colgroup>
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
                <col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
				<col style="width: 150px">
			</colgroup>
        <tbody>
		<tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 <tr  style="height: 35px;" >
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 <td style="text-align:left">blonp97@gmail.com</td>
		 </tr>
		 </tbody>
		 </table>
    </div>*@
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
            
        </article>
    </main>
</div>
